---
layout: default_es
body_class: 'home'
lang: es
---

<section id="intro">
    <div class="container">
        <h1 class="primary">Conferencia regional sobre Ruby, Rails y Agile</h1>
        <p>22&ndash;23 de Marzo, 2013. Montevideo, Uruguay</p>
        <p>RubyConf Uruguay est&aacute; orientado a desarrolladores que quieran aprender o actualizarse en tecnolog&iacute;as como Ruby, Ruby on Rails, Sinatra, Testing, SCRUM, JavaScript, SQL vs NoSQL.</p>
        <a href="http://rubyconfuy2013.eventbrite.com/" class="btn secondary">Reg&iacute;strate</a>
    </div>
</section>

<section id="when-where" class="block">
    <div class="container">
        <h1 class="primary">Cu&aacute;ndo y d&oacute;nde</h1>

        <div class="info">
            <p>22 y 23 de marzo en el auditorio de la Torre de las Telecomunicaciones, Montevideo, Uruguay. Ser&aacute;n dos d&iacute;as intensos de aprendizaje e intercambio de experiencias entre los asistenes y oradores. No olvides reservar esos d&iacute;as en tu calendario!</p>

            <ul class="directions hidden">
                <li><a href="#">C&oacute;mo llegar desde el aeropuerto</a></li>
                <li><a href="#">C&oacute;mo llegar desde la terminal de tres cruces</a></li>
            </ul>

            <img src="/media/img/home/auditorium.jpg" />
        </div>

        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=114189880581873191413.00049039c94fc2d39375a&amp;ll=-34.899166,-56.19421&amp;spn=0.023934,0.034676&amp;z=14&amp;output=embed"></iframe>

        <aside class="where-to-stay">
            <h1>No tienes d&oacute;nde quedarte? <a href="http://app.transhotel.com.uy/Eventos/rubyconf.aspx" class="btn primary">Paquetes promocionales de hoteles/hostels</a></h1>
        </aside>
    </div>
</section>

<section id="news" class="block">
    <div class="container">
        <h1 class="primary">Noticias</h1>
        {% for post in site.posts limit: site.posts_limit %}
            {% if post.lang == 'es'  %}
                <article class="post">
                  <h1 class="primary"><a href="{{post.url}}">{{ post.title }}</a></h1>
                  <span class="metadata">
                    Publicado en <strong>{{ post.date | date: "%B %e" }}</strong> -
                  </span>
                  <span>{{ post.content | strip_html | truncatewords: 40 }}</span>
                  <a href="{{post.url}}" class="read-more">Contin&uacute;a leyendo</a>.
                </article>
            {% endif %}
        {% endfor %}

        <aside>
            <h1>Quieres m&aacute;s? <a href="/news_es.html" class="btn primary">Visita nuestro blog</a></h1>
        </aside>
    </div>
</section>

<section id="agenda" class="block">
    <div class="container">
        {% include agenda.html %}
    </div>
</section>

<section id="sponsors">
    <div class="container">
        <h1 class="primary">Marcas y gente geniales</h1>

        {% include sponsors.html %}

        <p>Ven y &uacute;nete al evento de ruby m&aacute;s exitoso de sudam&eacute;rica!</p>
        <p>M&aacute;s de 300 participantes de todos los niveles estar&aacute;n all&iacute; este a&ntilde;o</p>
        <p><a href="/downloads/sponsorship_packages_2013_rubyconfuruguay.pdf" class="btn primary">Ver Planes para Sponsors</a></p>
    </div>
</section>
