---
layout: post_es
body_class: news
title: News
---

{% for post in site.posts %}
    {% if post.lang == 'es'  %}
        <article class="post listing">
            <h1 class="secondary"><a href="{{post.url}}">{{ post.title }}</a></h1>
            <p class="metadata">Publicado el <strong>{{ post.date | date: "%d/%m/%y" }}</strong> por <strong>{{ post.author }}</strong></p>
            {{ post.content | split:'<!--more-->' | first }}
            <a href="{{post.url}}" class="read-more">Contin&uacute;a leyendo</a>
        </article>
    {% endif %}
{% endfor %}
