{% unless page.body_class == 'home screens' %}
<h1 class="primary">Agenda</h1>
{% endunless %}

<table>
  <thead>
    <tr>
      <th colspan="3">{% if page.lang == 'en' %} Friday {% else %} Viernes {% endif %}</th>
    </tr>
  </thead>

  <tr class="special-slot">
    <td colspan="2">{% if page.lang == 'en' %} Registration {% else %} Registro {% endif %}</td>
    <td class="time">9:00 hs</td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">{% if page.lang == 'en' %} Opening {% else %} Apertura {% endif %}</td>
    <td class="time">10:00 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Jim Weirich</h1>
      <h2>Why aren't you using Ruby?</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=jimweirich&size=bigger" alt="Jim Weirich">
    </td>
    <td class="time">
      10:15 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Thiago Pradi</h1>
      <h2>PostgreSQL on Rails</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=thiagopradi&size=bigger" alt="Thiago Pradi">
    </td>
    <td class="time">
      11:15 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">
      Break
    </td>
    <td class="time">
      11:45 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Don Mullen</h1>
      <h2>An Introduction to Datomic</h2>
    </td>
    <td> <img src="https://api.twitter.com/1/users/profile_image?screen_name=donmullen&size=bigger" alt=""> </td>
    <td class="time">
      12:00 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Marcos Matos</h1>
      <h2>Ruby Theater - Using the actor model to achieve concurrency</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=marcosccm&size=bigger" alt="">
    </td>
    <td class="time">
      12:30 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Veronica Rebagliatte</h1>
      <h2>An intro to backbone.js</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=rebagliatte&size=bigger" alt="">
    </td>
    <td class="time">
      13:00 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">{% if page.lang == 'en' %} Lunch {% else %} Almuerzo {% endif %}</td>
    <td class="time">13:30 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Justine Arreche</h1>
      <h2>I Am Designer and So Can You!</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=theelefanta&size=bigger" alt="">
    </td>
    <td class="time">
      15:00 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Andreas Fast</h1>
      <h2>Performance matters</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=ahfast&size=bigger" alt="">
    </td>
    <td class="time">
      15:30 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">Break</td>
    <td class="time">16:00 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Luismi Cavalle</h1>
      <h2>Sustainable productivity: Rails vs OOP</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=cavalle&size=bigger" alt="">
    </td>
    <td class="time">
      16:15 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Bryan Helmkamp</h1>
      <h2>Rails Application Security in Practice</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=brynary&size=bigger" alt="">
    </td>
    <td class="time">
      16:45 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Vicent Marti</h1>
      <h2>Unicorns die with bullets made of glitter</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=vmg&size=bigger" alt="">
    </td>
    <td class="time">
      17:25 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">End day 1</td>
    <td class="time">17:55 hs</td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">
      Drink Up {% if page.lang == 'en' %} by {% else %} de {% endif %} Neo @ <a href="https://maps.google.com/maps/ms?msid=207929239109503485147.0004d887204737faa5cdf&msa=0&ll=-34.906274,-56.136577&spn=0.001494,0.00284">Osadia (Luis Alberto de Herrera 1172)</a>
    </td>
    <td class="time">21:30 hs</td>
  </tr>

</table>

<table>

  <thead>
    <tr><th colspan="3">{% if page.lang == 'en' %} Saturday {% else %} Sabado {% endif %}</th></tr>
  </thead>

  <tr class="special-slot">
    <td colspan="2">{% if page.lang == 'en' %} Registration {% else %} Registro {% endif %}</td>
    <td class="time">9:00 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Cristian Rasch</h1>
      <h2>Despliegue de aplicaciones Rack sobre la JVM</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=cristianrasch&size=bigger" alt="">
    </td>
    <td class="time">
      10:00 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Maximo Mussini</h1>
      <h2>The Mobile's Developer Dilemma - Native or Web? Both!</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=MaximoMussini&size=bigger" alt="">
    </td>
    <td class="time">
      10:30 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Fernando Ipar</h1>
      <h2>Memoria transaccional para sistemas concurrentes</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=percona&size=bigger" alt="">
    </td>
    <td class="time">
      11:00 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">Break</td>
    <td>11:30 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Patricio Mac Adden</h1>
      <h2>New York, New York</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=maxawen&size=bigger" alt="">
    </td>
    <td class="time">
      11:45 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Rodolfo Pilas</h1>
      <h2>Puppet para hacer el trabajo por ti en el Datacenter</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=ysidorito&size=bigger" alt="">
    </td>
    <td class="time">
      12:15 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Schalk Neethling</h1>
      <h2>Writing, Debugging And Testing Apps for FirefoxOS</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=schalkneethling&size=bigger" alt="">
    </td>
    <td class="time">
      12:45 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">{% if page.lang == 'en' %} Lunch {% else %} Almuerzo {% endif %}</td>
    <td class="time">13:25 hs</td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">
      <h1>Lightning Talks</h1>
      <h2>You </h2>
    </td>
    <td class="time">
      14:40 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Julie Ann Horvath</h1>
      <h2>The Rubyist's Guide to Design</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=nrrrdcore&size=bigger" alt="">
    </td>
    <td class="time">
      15:10 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Richard Schneeman</h1>
      <h2>Dissecting Ruby with Ruby</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=schneems&size=bigger" alt="">
    </td>
    <td class="time">
      15:40 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">Break</td>
    <td class="time">16:10 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Cyril David</h1>
      <h2>Lean software development</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=cyx&size=bigger" alt="">
    </td>
    <td class="time">
      16:15 hs
    </td>
  </tr>

  <tr>
    <td>
      <h1>Peter Shanley</h1>
      <h2>Lean Leadership aka Don't be an Asshole</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=petershanley&size=bigger" alt="">
    </td>
    <td class="time">
      16:55 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">Break</td>
    <td class="time">16:25 hs</td>
  </tr>

  <tr>
    <td>
      <h1>Jano Gonzalez</h1>
      <h2>How Ruby programmed me</h2>
    </td>
    <td>
      <img src="https://api.twitter.com/1/users/profile_image?screen_name=janogonzalez&size=bigger" alt="">
    </td>
    <td class="time">
      17:55 hs
    </td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">{% if page.lang == 'en' %} The end {% else %} El Fin {% endif %}</td>
    <td class="time">19:00 hs</td>
  </tr>

  <tr class="special-slot">
    <td colspan="2">
      Drink Up {% if page.lang == 'en' %} by {% else %} de {% endif %} GitHub @
      <a href="https://maps.google.com/maps/ms?msid=206736374291313214858.0004d8708f44461e3f969&msa=0&ll=-34.908236,-56.146439&spn=0.012406,0.022724">Gallagher's
      Irish Pub</a>

    </td>
    <td class="time">21:30 hs</td>
  </tr>

</table>
