<table>

  <tr>
    <td colspan=2>
      <h1 class="secondary"> Registration </h1>
    </td>
    <td>
      <h1 class="secondary">9:00 hrs</h1>
    </td>
  </tr>

  <tr>
    <td colspan=2>
      <h1 class="secondary"> Opening </h1>
    </td>
    <td>
      <h1 class="secondary">9:45 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Jim Weirich</h1>
      <p class="subtitle">titulo</p>
    </td>
    <td class="pic">foto</td>
    <td>
      <h1 class="secondary">10:00 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Thiago Pradi</h1>
      <p class="subtitle">PostgreSQL on Rails</p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">11:00 hrs</h1>
    </td>
  </tr>

  <tr>
    <td colspan=2>
      <h1 class="secondary"> Break </h1>
    </td>
    <td>
      <h1 class="secondary">11:30 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Don Mullen</h1>
      <p class="subtitle">An Introduction to Datomic</p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">11:45 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Marcos Matos</h1>
      <p class="subtitle">
        Ruby Theater - Using the actor model to achieve
        concurrency
      </p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">12:15 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Fernando Ipar</h1>
      <p class="subtitle">
        Memoria transaccional para sistemas concurrentes
      </p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">12:45 hrs</h1>
    </td>
  </tr>

  <tr>
    <td colspan=2>
      <h1 class="secondary"> Lunch </h1>
    </td>
    <td>
      <h1 class="secondary">13:15 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Lightning Talks</h1>
      <p class="subtitle">You </p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">14:30 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Justine Arreche</h1>
      <p class="subtitle">I Am Designer and So Can You!</p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">15:00 hrs</h1>
    </td>
  </tr>

  <tr>
    <td>
      <h1 class="secondary">Andreas Fast</h1>
      <p class="subtitle">Performance matters</p>
    </td>
    <td>foto</td>
    <td>
      <h1 class="secondary">15:30 hrs</h1>
    </td>
  </tr>

  <tr>
    <td colspan=2>
      <h1 class="secondary"> Break </h1>
    </td>
    <td>
      <h1 class="secondary">16:00 hrs</h1>
    </td>
  </tr>
</table>
