<section class="organizer sponsor-group">
    <h1><span>{% if page.lang == 'en' %} Brought to you by {% else %} Traído a ustedes por {% endif %}</span></h1>
    <ul>
        <li><a href="http://www.neo.com//"><img src="/media/img/sponsors/neo.jpg" alt="neo"></a></li>
        <li>{% if page.lang == 'en' %} and {% else %} y {% endif %}</li>
        <li><a href="http://twitter.com/cuerbot" title="Bruno Aguirre"><img src="/media/img/organizers/bruno-aguirre.png" alt="Bruno Aguirre"></a></li>
        <li><a href="http://twitter.com/picandocodigo" title="Fernando Briano"><img src="/media/img/organizers/fernando-briano.png" alt="Fernando Briano"></a></li>
        <li><a href="http://twitter.com/godfoca" title="Nicolás Sanguinetti"><img src="/media/img/organizers/foca.png" alt="Nicolás Sanguinetti"></a></li>
        <li><a href="http://twitter.com/oboxodo" title="Diego Algorta"><img src="/media/img/organizers/diego-algorta.png" alt="Diego Algorta"></a></li>
        <li><a href="http://twitter.com/rebagliatte" title="Verónica Rebagliatte"><img src="/media/img/organizers/vero.png" alt="Verónica Rebagliatte"></a></li>
        <li><a href="http://twitter.com/murtun" title="Martín Cabrera"><img src="/media/img/organizers/martin-cabrera.png" alt="Martín Cabrera"></a></li>
        <li><a href="http://twitter.com/poteland" title="Pablo Astigarraga"><img src="/media/img/organizers/pablo-astigarraga.png" alt="Pablo Astigarraga"></a></li>
    <ul>
</section>

<section class="gold sponsor-group">
    <h1><span>{% if page.lang == 'en' %} Gold sponsors {% else %} Sponsors de Oro {% endif %}</span></h1>
    <ul>
        <li><a href="http://github.com/"><img src="/media/img/sponsors/github.jpg" alt="github"></a></li>
        <li><a href="http://www.wyeworks.com/"><img src="/media/img/sponsors/wyeworks.jpg" alt="WyeWorks"></a></li>
        <li><a href="http://moove-it.com/"><img src="/media/img/sponsors/moove-it.jpg" alt="moove-it"></a></li>
        <li><a href="http://altimetrik.com/"><img src="/media/img/sponsors/altimetrik.jpg" alt="Altimetrik"></a></li>
    <ul>
</section>

<section class="silver sponsor-group">
    <h1><span>{% if page.lang == 'en' %} Silver sponsors {% else %} Sponsors de Plata {% endif %}</span></h1>
    <ul>
        <li><a href="http://www.percona.com/"><img src="/media/img/sponsors/percona.jpg" alt="percona"></a></li>
        <li><a href="http://www.anii.org.uy/"><img src="/media/img/sponsors/anii.jpg" alt="anii"></a></li>
        <li><a href="http://xmartlabs.com/"><img src="/media/img/sponsors/xmartlabs.jpg" alt="XmartLabs"></a></li>
        <li><a href="http://www.vairix.com/"><img src="/media/img/sponsors/vairix.jpg" alt="Vairix"></a></li>
        <li><a href="http://www.stickermule.com/"><img src="/media/img/sponsors/stickermule.jpg" alt="Stickermule"></a></li>
    <ul>
</section>

<section class="support sponsor-group">
    <h1><span>{% if page.lang == 'en' %} Support &amp; Media partners {% else %} Apoyan {% endif %}</span></h1>
    <ul>
        <li><a href="http://www.meetup.uy/"><img src="/media/img/sponsors/meetupuy.jpg" alt="meetupUY"></a></li>
        <li><a href="http://www.ort.edu.uy/"><img src="/media/img/sponsors/ort.jpg" alt="ort"></a></li>
        <li><a href="http://www.ucu.edu.uy/"><img src="/media/img/sponsors/ucu.jpg" alt="Universidad Catolica del Uruguay"></a></li>
        <li><a href="http://mec.gub.uy/"><img src="/media/img/sponsors/mec.jpg" alt="Ministerio de Educación y Cultura"></a></li>
        <li><a href="http://www.cuti.org.uy/"><img src="/media/img/sponsors/cuti.jpg" alt="cuti"></a></li>
        <li><a href="http://attenderapp.com/"><img src="/media/img/sponsors/attender.jpg" alt="attender"></a></li>
    <ul>
</section>
