<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="Regional conference about Ruby, Rails and web development">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400">
        <link rel="stylesheet" href="/media/css/main.css">
        <link rel="shortcut icon" href="/media/favicon.png">
        <link rel="shortcut icon" href="/media/favicon.ico">
        <script src="/media/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="{{ page.body_class }}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <nav>
            <div class="container">
                <h1><a class="logo" href="/index_es.html"><img src="/media/img/rubyconf_uruguay_logo.png" alt="{{ site.name }}"></a></h1>
                <ul>
                    <li><a href="#call-for-proposals">Llamado a charlas</a></li>
                    <li><a href="#when-where">D&oacute;nde y Cu&aacute;ndo</a></li>
                    <li><a href="#news">Noticias</a></li>
                    <li><a href="#last-year-edition">Edici&oacute;n 2011</a></li>
                    <li class="register"><a href="#">Reg&iacute;strate</a></li>
                    <li class="lang">
                        <ul>
                            <li><a class="en" href="/index.html"><span>English version</span></a></li>
                            <li><a class="es active" href="#"><span>Spanish version</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        {{ content }}

        <footer>
            <div class="container">
                <p>Organizado por voluntarios de <a href="http://rubysur.org/">RubySur</a> y <a href="http://neo.com/">Neo</a>. Ve nuestro <a href="/coc_es.html">C&oacute;digo de Conducta</a></p>
                <ul>
                    <li><a href="http://twitter.com/rubyconfuruguay" class="twitter"><span>S&iacute;guenos en twitter</span></a>
                    <li><a href="http://facebook.com/rubyconfuruguay" class="facebook"><span>Hazte fan en facebook</span></a>
                    <li><a href="mailto:info@rubyconfuruguay.org" class="email"><span>Cont&aacute;ctanos a trav&eacute;s de info@rubyconfuruguay.org</span></a>
                </ul>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="media/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="/media/js/vendor/jquery.smooth-scroll.js"></script>
        <script src="/media/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount',{{ site.google_analytics_id }}],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
