---
layout: default_es
body_class: news
---

<section class="container post detail">
  <h1 class="primary">{{ page.title }}</h1>
  {% if page.date && page.author %}
    <p class="metadata">Publicado el <strong>{{ page.date | date: "%d/%m/%y" }}</strong> por <strong>{{ page.author }}</strong></p>
  {% endif %}
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="rubyconfuruguay" data-size="large">Tweet</a>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
  <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
  {{ content }}
</section>
